ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING] DROP CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_WorkCodes]
GO
ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING] DROP CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_MTS_GROUPS]
GO
/****** Object:  Table [dbo].[MTS_WORK_GROUP_MAPPING]    Script Date: 12/16/2015 18:28:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MTS_WORK_GROUP_MAPPING]') AND type in (N'U'))
DROP TABLE [dbo].[MTS_WORK_GROUP_MAPPING]
GO

GO
/****** Object:  Table [dbo].[MTS_PROJECTTYPE]    Script Date: 12/16/2015 18:28:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MTS_PROJECTTYPE]') AND type in (N'U'))
DROP TABLE [dbo].[MTS_PROJECTTYPE]
GO
GO
/****** Object:  Table [dbo].[MTS_GROUPS]    Script Date: 12/16/2015 18:28:36 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MTS_GROUPS]') AND type in (N'U'))
DROP TABLE [dbo].[MTS_GROUPS]
GO

/****** Object:  Table [dbo].[MTS_GROUPS]    Script Date: 12/16/2015 18:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTS_GROUPS](
	[Group_ID] [int] NOT NULL,
	[Group_Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MTS_GROUPS] PRIMARY KEY CLUSTERED 
(
	[Group_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MTS_PROJECTTYPE]    Script Date: 12/16/2015 18:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MTS_PROJECTTYPE](
	[Project_TypeID] [int] NOT NULL,
	[Project_Type] [varchar](50) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MTS_WORK_GROUP_MAPPING]    Script Date: 12/16/2015 18:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MTS_WORK_GROUP_MAPPING](
	[ID] [int] NOT NULL,
	[WORK_ID] [int] NOT NULL,
	[GROUP_ID] [int] NOT NULL,
 CONSTRAINT [PK_MTS_WORK_GROUP_MAPPING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_MTS_GROUPS] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[MTS_GROUPS] ([Group_ID])
GO
ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING] CHECK CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_MTS_GROUPS]
GO
ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING]  WITH CHECK ADD  CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_WorkCodes] FOREIGN KEY([WORK_ID])
REFERENCES [dbo].[WorkCodes] ([Id])
GO
ALTER TABLE [dbo].[MTS_WORK_GROUP_MAPPING] CHECK CONSTRAINT [FK_MTS_WORK_GROUP_MAPPING_WorkCodes]
GO


